<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Thymeleaf Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery если используешь -->
    <script src="/js/app/index.js"></script>
</head>
<body>
    <h1>Welcome to Thymeleaf</h1>

    <b>1. Input default value</b>
    <input id="defaultName" type="text" name="userName" value="James Carrot" th:value="${defaultValue}">
    <br>
    <b>2. Variable expression ${...}}</b>
    <p th:text="${greetings}">Nothing</p>
    <br>
    <b>3. Example with object EmployeeDto</b>
    <p th:text="${employee.firstName}">Nothing 1</p>
    <p th:text="${employee.getFullName()}">Nothing 2</p>
    <p th:text="${employee['lastName']}">Nothing 3</p>
    <br>
    <b>4. Map</b>
    <p th:text="${employeeDtoMap['Ivan'].email}">Nothing 1</p>
    <p th:text="${employeeDtoMap.Ivan.email}">Nothing 2</p>
    <br>
    <b>4. List</b>
    <p th:text="${employeeDtoList[1].email}"></p>
    <br>
    <b>6. Asterisk syntax *{...}</b>
    <div th:object="${employeeObj}">
        <div>
            <label for="firstName">First name:</label>
            <span id="firstName" style="color: blue" th:text="*{firstName}"></span>
        </div>
        <div>
            <label for="lastName">Last name:</label>
            <span id="lastName" style="color: blue" th:text="*{lastName}"></span>
        </div>
        <div>
            <label for="email">Email:</label>
            <span id="email" style="color: blue" th:text="*{email}"></span>
        </div>
    </div>
    <br>
    <b>7. Link Expression @{...}</b>
    <br>
    <a th:href="@{http://localhost:8080/info}">absolute link</a>
    <br>
    <a id="relativeLink" th:href="@{/info}">relative link</a>
    <br>
    <!--http://localhost:8080/info/parget?status=testme-->
    <a id="relativeLinkWithExpression" th:href="@{/info/parget(status=${'testme'})}">relative link with expression</a>
    <br>
    <!--http://localhost:8080/info/parget?status=isOkMe&position=center-->
    <a id="relativeLinkWithExpression2" th:href="@{/info/parget(status=${test}, position=${'center'})}">relative link with expression with 2 args</a>
    <br>
    <a id="relPathLink" th:href="@{/info/{path}/some(path=${'dynamic'})}">link with param in path</a>
    <br>

    <b>8. Message Expression</b>
    <!--
    Произойдет экранирование и выведится:
    ??home.welcome_ru??
    -->
    <!--Выводит текст как есть-->
    <p th:text="#{home.welcome}">You are seen default message!</p>
    <br>
    <!--Применяет тэги HTML в тексте-->
    <p th:utext="#{home.welcome.tag}">You are seen default message!</p>
    <br>

    <b>9. Fragment Expression ~(...)</b>
    <!--<div class="row" th:insert="~{templates/index :: footer(true)}"></div>-->

    <b>10. Literals</b>
    <div class="container">
        <p>Text operators</p>
        <span th:text="${'some text concat to' + 'another text'}"></span>
        <span th:text="|10|"></span>
    </div>

    <br>
    <div class="container">
        <p>Comparisons and equality</p>
        <span th:text="${5 > 3}"></span>
        <span th:text="${6 gt 9}"></span>
        <span th:text="${3 == 3}"></span>
    </div>

    <br>
    <b>11. Attributes</b>
    <label for="thatter">th:atter : </label>
    <input id="thatter" th:attr="value=${defaultName}"/>
    <br>
    <label for="thatter2">th:atter :</label>
    <input id="thatter2" th:attr="value=${defaultName}, style='color: blue'"/>

    <br>
    <label for="attrappend">th:atterappend</label>
    <input id="attrappend" type="button" value="Do it!" class="btn" th:attrappend="class=${' ' + 'btn-success'}"/>

    <br>
    <b>Cycle FOR</b>
    <div class="container">
        <div class="row">
            <label style="margin-right: 1.5em" for="each">th:each : </label>
            <table style="color: green" id="each">
                <tr th:each="employee : ${employeeDtoList}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.isMan()}"></td>
                    <!--<td th:text="${index}"></td>-->
                </tr>
            </table>
        </div>
    </div>

    <br>
    <b>12. Cycle FOR with index</b>
    <br>
    <div class="container">
        <div class="row">
            <label style="margin-right: 1.5em" for="each2">th:each : </label>
            <table style="color: green" id="each2">
                <tr th:each="employee, index : ${employeeDtoList}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.isMan()}"></td>
                    <td th:text="${index}"></td>
                </tr>
            </table>
        </div>
    </div>

    <br>
    <b>13. IF</b>
    <br>
    <div class="container">
        <!--Admin-->
        <div class="row" th:if="${employeeDtoList.get(0).isAdmin()}">
            <label style="margin-right: 1.5em" for="thif"> th:if </label>
            <p id="thif" th:text="${employeeDtoList.get(0).isAdmin()}"></p>
        </div>

        <!--не отобразится, т.к. user_id = 0 это админ, а условие unless-->
        <div class="row" th:unless="${employeeDtoList.get(0).isAdmin()}">
            <label style="margin-right: 1.5em" for="thunless1"> th:if </label>
            <p id="thunless1" th:text="${employeeDtoList.get(0).isAdmin()}"></p>
        </div>

        <!--User-->
        <div class="row" th:unless="${employeeDtoList.get(1).isAdmin()}">
            <label style="margin-right: 1.5em" for="thunless"> th:if </label>
            <p id="thunless" th:text="${employeeDtoList.get(1).isAdmin()}"></p>
        </div>
    </div>

    <br>
    <b>14. Switch</b>
    <br>
    <div class="container">
        <div class="row">
            <label for="thswitch" style="margin-right: 1.5em"> th:switch</label>
            <div style="color: green" id="thswitch" th:switch="${employeeDtoList.get(0).getGender().toString()}">
                <p th:case="'MALE'"> Employee is man </p>
                <p th:case="'FAMALE'"> Employee is woman </p>
            </div>
        </div>
    </div>

    <br>
    <b>15. Onclick</b>
    <br>
    <div class="row">
        <label style="margin-right: 1.5em" for="thonclick"> th:onclick</label>
        <button class="btn btn-info" id="thonclick"
                th:onclick="|substituteOnClick('ONCLICK EXAMPLE');|">
            Click
        </button>
    </div>



</body>
</html>